* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; 
}
body {
    overflow-x: hidden;
}
.logo {
    position:relative;
    margin: 25px 0;
    text-align:center;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #f27777;
    transition: 0.5s;
}

.navbar-default {
    border-color: transparent;
}

.navbar-inverse .navbar-nav li a {
    color: #fff;
}


.box {
    width: 100%;
    height: 667px;
    position: relative;
}

.text {
    position: absolute;
    font-weight: 600;
    top: 30%;
    font-size: 65px;  
}

.glyphicon {
    font-size: 20px;
    color: #111111;
    cursor: pointer;
}
.form-control {
    border: none;
    border-bottom: 1px solid black;
}

/* sekcija sa tri diva */
.box1 {
    padding: 30px 0;
    font-weight: 300;
    color: #fff;
}
.color1 {
    background-color: #B8B8B8;
}
.color2 {
    background: #f27777;
}
.color3 {
    background: #3A3A3A;
}

/* sekcija br 3 */

.naslov {
    padding: 80px 0 60px 0;
    text-align: center;
}
#gray {
    color: #B8B8B8;
    font-weight: 100;
    font-size: 20px; 
}

.boldi {
    font-weight: 700;
}

.hover img:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: 0.5s;
}

.butt {
    color: white;
    font-size: 17px;
    background-color: #f27777;
    padding: 8px 22px;
    border-radius: 20px; 
}

.product-bottom .fa {
    color: orange;
    font-size: 15px;
}


/* mens womans acces */
.dif{
 
 text-transform: uppercase;  
}


/* SHOPPING TIME */

.shopping-time {
    padding: 40px 0;
}

.product {
    padding: 30px 0;
    text-align: center;
}

.product p {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 100;
}
.product i {
    font-size: 17px;
    color: red;
}

.overlay-right {
    display: block;
    opacity: 0;
    position: absolute;
    top:10%;
    margin-left: 0;
    width: 70px;
}
.overlay-right .fa {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.overlay-right .btn-secondary {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.product-top:hover .overlay-right {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}



/* reklamica */

.reklama {
    width: 100%;
    height: 429px;
    background: url("../img/divider-bg.jpg");
    position: relative;
}

.reklamica {
    position: absolute;
    top: 20%;
    left: 25%;
}
.reklamica h2 {
    font-size: 50px;
    color: #fff;
}
.reklamica .bold {
    font-weight: 600;
}

a:hover {
    text-decoration: none;
    color: white;
}
.butt:hover {
    background:#FF0000;
}


/* section sale */

.pozadina {
   
    height: 330px;
    background-image: url("../img/bla1.jpg");
    background-repeat: no-repeat;
}
.pozadina2 {
    height: 330px;
    background-image: url("../img/bla2.jpg");
    background-repeat: no-repeat;
}

.pozadina span {
    background-color: red;
    padding: 50px;
    border-radius: 50%;
    font-size: 23px;
    color: #fff;
}

.prazan img {
    height: 330px;
}

.pozadina2 span {
    background-color: red;
    padding: 50px;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
}
.right {
    position: relative;
    left: 150px;
}


/* section pre footera */

.kut {
    text-align: center;
    line-height: 40px;
    background: #3A3A3A;
    color:#fff;
}
.kut h3 {
    padding:0;
    margin:0;
}
.kut p {
    color: gray;
}

.fas {
    font-size: 30px;
    padding-top: 20px;
}

.kraj {
    margin: 80px 0 0 0;
}


/* PRODAVNICA SECTION */

.box-for-item img {
    width: 100%;
    height: 250px;
}

.box-for-item {
    margin-bottom: 40px;
}

.light {
    color: gray;
}


/* footer */

.foot {
    background-color: #111111;
    color: #fff;
    padding: 30px 0 ;
    margin: 30px 0 0 0 ;
}

.fab {
    font-size: 25px;
    padding-right: 15px;
}

/* sesigned by me  */
.design {
    background: #0E0E0E;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}



/*SL STRANICE*/




/* ----------------------------------------PRODUCTS PAGE------------------------------- */
.new  {
    background: green;
    padding: 3px 6px;
}

.oboji {
    color: orange;
}

/*-----------------------------ABOUT US PAGE----------------------------------- */

.imgs {
    position: relative;
}
.imgs img{
    width: 100%;
    height: 430px;
}

.imgs h2 {
    position: absolute;
    top:50%;
    right: 45%;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase; 
}

.about-content {
    height: 400px;
    padding: 70px;
}

/* MEET OUR TEAM */
.team {
    padding: 70px 0;
}

/* ISPOD TIMA */
.ready {
    padding: 70px 0;
    background: #FFFFE7;
}

.input-news {
    font-size: 23px;
    
}

